
<nav>

	<ul class="nav_links">

		<li>
			<a href="{{path('traitements')}}">Medicament</a>
		</li>
		<li>
			<a href="{{path('traitements')}}">Traitements</a>
		</li>
		<li>
			<a href="{{path('traitements')}}">Indications</a>
		</li>
		<li>
			<a href="{{path('traitements')}}">Consultations</a>
		</li>
		
	</ul>

</nav>

